// Spacing
$sp-sm: 8px;
$sp-md: 10px;
$sp-lg: 16px;

// Background color
$coolGray-900: #111827;

// Border Radius
$br-btn: 4px;

// Font weights
$fw-n: 400;
$fw-b: 500;

// Font size
$fs-md: 14px;
$fs-lg: 16px;

// Font Colors
$white: #ffffff;
