@import './const.scss';

// Fonts
@mixin fontInherit($lh: inherit, $fw: inherit, $color: inherit, $fs: inherit) {
  font: inherit;
  line-height: $lh;
  font-size: $fs;
  font-weight: $fw;
  color: $color;
}

// Grid
@mixin gridColCenter($gap: $sp-md) {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: $gap;
}

// Flex
@mixin flexColBetween() {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

// Box
@mixin boxStyles(
  $border: 1px solid $indigo-500,
  $bs: $shadow-sm,
  $padding: $sp-sm $sp-lg,
  $height: 100%,
  $width: 100%
) {
  border: $border;
  box-shadow: $bs;
  border-radius: $br-box;
  outline: none;
  padding: $padding;
  height: $height;
  width: $width;
}
