@import './const.scss';

// Fonts
@mixin fontInherit($lh: inherit, $fw: inherit, $color: inherit, $fs: inherit) {
  font: inherit;
  line-height: $lh;
  font-size: $fs;
  font-weight: $fw;
  color: $color;
}

// Grid
@mixin gridColCenter($gap: $sp-md) {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: $gap;
}

// Flex
@mixin flexColBetween() {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

// Border
@function border(
  $borderWidth: 1px,
  $borderStyle: solid,
  $borderColor: $indigo-500
) {
  @return $borderWidth $borderStyle $borderColor;
}

// Box
@mixin boxStyles(
  $border: border(),
  $bs: $shadow-sm,
  $br: $br-box,
  $padding: $sp-sm $sp-lg,
  $height: 100%,
  $width: 100%,
  $bgColor: inherit
) {
  border: $border;
  box-shadow: $bs;
  border-radius: $br;
  outline: none;
  padding: $padding;
  height: $height;
  width: $width;
  background-color: $bgColor;
}
