@import 'styles/const';
@import 'styles/main';

// Common

.container {
  @include flexColBetween;
}

// Primary

.container--primary {
  @extend .container;
  @include boxStyles($padding: 0, $height: 2.625rem);
  @include fontInherit($lh: $lh-lg, $fs: $fs-lg, $color: $gray-500);
  overflow: hidden;
}

// Secondary

.container--secondary {
  @extend .container;

  @include boxStyles(
    $padding: $sp-md $sp-lg,
    $height: 3.625rem,
    $border: 0,
    $bs: none,
    $br: 0,
    $bgColor: $gray-100
  );

  @include fontInherit($lh: $lh-md, $fs: $fs-md, $color: $gray-500);
}
